/* global.css or a specific CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Fade-in Animation for Card */
  @keyframes fadeInCard {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}
body {
    background: linear-gradient(135deg, rgba(255, 150, 150, 0.7), rgba(150, 200, 255, 0.7));
    height: auto; /* Full height */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    padding: 20px; /* Padding to avoid sticking to the edges */
    flex-wrap: wrap; /* Allow items to wrap in a row */
    margin: 0; /* Reset margin to avoid default browser styles */
}
